body{
    color: red;
    transform: translate(50px, 50px);
    background: url(../imgs/b.jpg) center center no-repeat;
    #root{
        background: url(../imgs/a.png) center center no-repeat;
    }
}